<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.controlwear.joystickdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền truy cập mạng để gửi và nhận dữ liệu -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Quyền truy cập Wi-Fi (nếu cần) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Quyền truy cập kết nối mạng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Quyền truy cập trạng thái cuộc gọi điện thoại (nếu cần) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>